release/*.AppImage
release/*.deb
release/*.rpm
release/*.dmg
release/*.zip
release/*.exe
release/*.msi
release/*.7z
release/*.blockmap
release/linux-unpacked/
release/win-unpacked/
release/win-unpacked.bak/
release/mac/
release/mac-arm64/
release/Artemis-win-portable/
release/builder-*.yml
release/builder-*.yaml
release/Artemis-*
release/artemis-*
*.asar
.DS_Store
node_modules/

scripts/
